* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #181414;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  border-radius: 10px;
}

body,
html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}


// /* Custom animation */
.fancybox-fx-slide-in-out.fancybox-slide--previous {
  transform: scale(0);
}

.fancybox-fx-slide-in-out.fancybox-slide--next {
  transform: scale(4.5);
  
}

.fancybox-fx-slide-in-out.fancybox-slide--current {
  transform: translateX(0);
}

